<div class="d-flex flex-column container align-items-center">
<div>
<br/>
<h1 class="display-6">Update Todo</h1>
</div>
<br/>
<div class="border rounded p-3">
<%= form_with model: @todo do |f|  %>
<div class="form-group text-center">
<%= f.text_field :title, placeholder: "Enter Todo title",  :class =>" form-control" %><br/>
<%= f.submit :submit, placeholder: "Submit", :class => "btn btn-success mx-auto" %>
</div>
<% end %>
</div>

</div>